html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(50deg,#B4EBE6,#FFB433,#ddf6f3);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* keeps it stable when scrolling */
  background-position: center;
}

.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300px;
}